Checks: 'bugprone-*,cppcoreguidelines-*,performance-*,readability-*,-cppcoreguidelines-avoid-magic-numbers,-cppcoreguidelines-pro-bounds-array-to-pointer-decay'
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
ExcludeHeaderFilterRegex: '.*\.(pb\.h|pb\.cc)$'
FormatStyle: 'file'